<script setup lang="ts">
import {ref, inject} from "vue";
import axios from "axios";

const emitter = inject('emitter');
const name = ref('');

function addApplicant() {

  if ( name.value.trim().length == 0 ) {
    return;
  }

  axios.post('add', { 'name': name.value.trim() })
      .then( ()=>{
        name.value = '';
        emitter.emit("reload");
      }, error=> {
        console.log( error );
        alert('Fehler:'+ error.response.data +"\n\n("+error+")");
      } );
}
</script>
<template>

  <input v-model="name" type="text" placeholder="Name" @keyup.enter="addApplicant" />
  <button @click="addApplicant">Hinzufügen</button>

</template>
