<template>

  <table>

    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Aktion</th>
      </tr>
    </thead>

    <tbody>

      <tr v-for="column in this.columns" key="column.id"
          v-show="this.filtered[column.id]">
        <td>{{ column.name }}</td>
        <td>{{ column.status }}</td>
        <td>
          <template v-if="column.status == 'OPEN'">
            <span @click="accept(column.id)">Annehmen</span> | <span @click="deny(column.id)">Ablehnen</span>
          </template>
        </td>
      </tr>

    </tbody>

  </table>

</template>

<script lang="ts">
import {defineComponent} from "vue";
import axios from "axios";

export default defineComponent({

  data() {
    return {
      nameFilter: '',
      declineFilter: false,
      /**
       * id:true|false
       */
      filtered: {},
      columns: []
    };
  },

  created() {

    this.emitter.on('namefilter', name=>{
      this.nameFilter = name;
      this.applyFilters();
    });

    this.emitter.on('showDeclined', showDeclined=>{
      this.declineFilter = !showDeclined;
      this.applyFilters();
    });

    this.emitter.on('reload', ()=>this.load());
  },

  mounted() {
    this.load();
  },

  methods: {

    load() {

      this.filtered = {};
      this.columns = [];

      // TODO error handling
      axios.get('/applicants')
        .then( response=>{

          this.columns = response.data;

          this.columns.forEach( column => {
            this.filtered[ column.id ] = false;
          } );

          this.applyFilters();
        }, error=> {
          alert('Fehler:'+ error.response.data +"\n\n("+error+")");
        }  );
    },

    accept(id:string) {

      // TODO error handling
      // TODO es ist unnötig, alle Items wieder neu zu laden, nur die geupdateten neuladen
      axios.post('/accept/'+ id +"/true")
           .then( ()=>this.load(),
               error=> {
                 alert('Fehler:'+ error.response.data +"\n\n("+error+")");
               });
    },

    deny(id:string) {

      // TODO error handling
      // TODO es ist unnötig, alle Items wieder neu zu laden, nur die geupdateten neuladen
      axios.post('/accept/'+ id +"/false")
          .then( ()=>this.load(),
              error=> {
                alert('Fehler:'+ error.response.data +"\n\n("+error+")");
              });
    },

    applyFilters() {

      for(const column of this.columns) {

        const isHideByNameFilter = this.nameFilter.length > 0 && column.name.indexOf( this.nameFilter ) === -1;
        const isHideByDecline = this.declineFilter && column.status === 'DECLINED';

        this.filtered[column.id] = !(isHideByNameFilter || isHideByDecline);
      }
    },
  }
});
</script>

<style scoped>

table {
  min-width: 50%;
  border: 1px solid black;
}

table {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-collapse: collapse;
}

thead {
  background-color: var(--color-background-mute);
}

th {
  text-align: left;
  border-radius: 2px;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

td:last-child span:hover {
  cursor: pointer;
}

tbody tr {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) td {
  background-color: var(--color-background-soft);
}

</style>