<template>

  <input ref="namefilter" type="text" v-model="namefilter" placeholder="Namensfilter"
    @keyup.enter="keyEnterNamefilter"
    @blur="evaluateNamefilter"
    />
  <input id="hideRejectedApplicants" type="checkbox"
         v-model="hideRejectedApplicants"
         @change="changeHideRejectedApplicants"/>
  <label for="hideRejectedApplicants">Abgelehnte Bewerber ausblenden</label>

</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({

  data() {
    return {
      namefilter: '',
      hideRejectedApplicants: false
    };
  },

  methods: {

    keyEnterNamefilter() {
      this.$refs.namefilter.blur();
    },

    evaluateNamefilter() {
      this.namefilter = this.namefilter.trim();
      this.emitter.emit('namefilter', this.namefilter);
    },

    changeHideRejectedApplicants() {
      this.emitter.emit('showDeclined', !this.hideRejectedApplicants);
    }
  }

});

</script>