<script setup lang="ts">
import AddApplicant from "@/components/AddApplicant.vue";
import ApplicantsTable from "@/components/ApplicantsTable.vue";
import ResultsMenu from "@/components/ResultsMenu.vue";
</script>

<template>

  <AddApplicant />
  <hr />
  <ResultsMenu />
  <ApplicantsTable />

</template>

<style scoped>

</style>
