@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

input[type=text] {
  margin: 5px 10px;
  padding: 10px;
  border: 2px solid var(--color-border);
  border-radius: 5px;
}

button {
  margin: 5px 10px;
  padding: 10px;
  background-color: var(--color-background-soft);
  border: 2px solid var(--color-border);
  border-radius: 5px;

}